<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form  class="site-form" action="{% url 'images:create' %}" method="POST" enctype="multipart/form-data" >{% csrf_token %}
            <h1>FORMULARIO</h1>
                <h3>Título:</h3>
                <input type="text" name="title">
                <h3>Descripción:</h3>
                <input type="text" name="description">
                <input type="file" name="images" multiple>
            <input type=submit value='Create'>
        </form>

</body>
</html>

